html {
    background: #f3f3f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #0b1c29;
}

.mainImg img {
    width: 400px;
    margin: 10px 10px 0px 10px;
    -webkit-filter: opacity(.8);
    filter: opacity(.8);
}

.mainHead {
    background: #6f8ea4;
    margin: 0px 300px;
    padding: 10px;
    color: white;
}

.mainHead i.fas {
    color: #c8d1da;
}

.guests {
    margin: 20px auto;
    background: #c8d1da;
    width: 80%;
    padding: 8px 20px;
    font-size: 18px;
    color: #333333;
}

.guests i.fas {
    color: #6888a4;
}

#addGuestBtn {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    background: #f3f3f5;
    color: #333333;
    border-radius: 20px;
}

#addGuestBtn:focus {
    background: #6888a4;
    color: #f3f3f5;
}

#addGuestBtn:focus i.fas {
    color: #f3f3f5;
}


.totals {
    margin: 0 auto;
    padding: 5px 20px;
    background: #6888a4;
    width: 40%;
    color: white;
    font-size: 22px;
}

.totals i.fas {
    color: #c8d1da;
}

.center {
    text-align: center;
}

